@model Assignment7.Controllers.ArtistWithAlbums

@{
    ViewBag.Title = "Albums for " + Model.Name;
}

<h2>Albums for @Model.Name</h2>

<p>
    @Html.ActionLink("Create New Album", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Albums.FirstOrDefault().Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Albums) {
    <tr>
        <td>
            Album Name
        </td>
        <td>
            @item.Name
        </td>
    </tr>
}

</table>
