@{
    ViewBag.Title = "Seneca's JukeBox";
}

<div class="jumbotron">
    <h1>Seneca's JukeBox</h1>
    <p class="lead">Organize your music collection!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ol>
            <li>Create a free account</li>
            <li>Add Artists</li>
            <li>Add Tracks</li>
            <li>Create albums with artists and tracks</li>
            <li>Enjoy!</li>
        </ol>
    </div>
    <div>
        <iframe width="720" height="405" src="@ViewBag.Playlist" frameborder="0" allowfullscreen></iframe>
    </div>
</div>