@{
    ViewBag.Title = "Seneca's JukeBox";
}

<div class="jumbotron">
    <h1>Seneca's JukeBox</h1>
    <p class="lead">Organize your music collection!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ol>
            <li>Create a free account</li>
            <li>Add Artists</li>
            <li>Add Tracks</li>
            <li>Create albums with artists and tracks</li>
            <li>Enjoy!</li>
        </ol>
        <h2>Demo accounts</h2>
        <p>Use one of the following accounts if you don't want to create a new one:</p>
        <dl>
            <dt>executive@senecajukebox.com</dt>
            <dd>can do any action</dd>
            <dt>coordinator@senecajukebox.com</dt>
            <dd>can add albums and tracks</dd>
            <dt>clerk@senecajukebox.com</dt>
            <dd>can add tracks</dd>
            <dt>staff@senecajukebox.com</dt>
            <dd>can only view</dd>
        </dl>
        <p>Add have the same password: <strong>Passw0rd!</strong></p>
    </div>
    <div>
        <iframe width="720" height="405" src="@ViewBag.Playlist" frameborder="0" allowfullscreen></iframe>
    </div>
</div>